@use "./../global/variables" as v;
@use "./../global/mixins" as m;

.footer {
  display: grid;
  background-color: v.$base-white;
}

.footer__section-wrapper {
  box-shadow: 0 1px 0 0 v.$base-secondary;
}

.footer__section {
  padding: 20px;
}

.footer__title {
  @include m.h4();
  margin-bottom: 20px;
}

.footer__list {
  display: grid;
  gap: 16px;
}

.footer__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 0.2s ease-out;
  padding: 8px 0;

  @media (min-width: v.$desktop-width) {
    &:hover,
    &:focus {
      color: v.$primary-lighter;
    }
  }

  &:active {
    color: v.$primary-darker;
  }
}

.footer__logo-text {
  font-size: 12px;
}

// Logo & socials

.footer__logo-link {
  @include m.flex-centering();
  justify-content: flex-start;
  gap: 6px;
  transition: all 0.2s;

  @media (min-width: v.$desktop-width) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.footer__logo-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.footer__section--icons {
  @include m.flex-centering();
  justify-content: space-between;
  min-height: 80px;
}

.footer__socials {
  @include m.flex-centering();
  gap: 20px;
  color: v.$base-grey;
  transition: all 0.2s ease-out;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.2s ease-out;

  @media (min-width: v.$desktop-width) {
    &:hover,
    &:focus {
      color: v.$base-primary;
      background-color: v.$base-secondary;
    }
  }

  &:active {
    color: v.$base-primary;
    background-color: v.$primary-opacity;
  }
}

// Eshop

.footer__section--eshop {
  padding-bottom: 28px;
}

// Media

.footer__section--media {
  padding-bottom: 28px;
}

// Contacts

.footer__section--contacts {
  padding-bottom: 10px;
}

.footer__title--contacts {
  margin-bottom: 14px;
}

.footer__list--contacts {
  gap: 0;
}

.footer__link--contacts {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 2px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

// Copyright

.footer__section--copyright {
  @include m.flex-centering();
  padding-top: 14px;
  padding-bottom: 30px;
}

.footer__link--copyright {
  @include m.flex-centering();
  gap: 4px;
  color: v.$base-grey;
  font-size: 12px;
  line-height: 16px;
  transition: color 0.2s ease-out;

  &:active {
    color: v.$primary-darker;
  }

  @media (min-width: v.$desktop-width) {
    &:hover,
    &:focus {
      color: v.$base-primary;
    }
  }
}


// Tablet and Desktop styles

@media (min-width: v.$tablet-width) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
  }

  .footer__section-wrapper {
    box-shadow: none;
  }

  .footer__section-wrapper--icons {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .footer__section--copyright {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

// Desktop only styles

@media (min-width: v.$desktop-width) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 20px;
  }

  .footer__section-wrapper--icons {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .footer__logo-wrapper {
    @include m.flex-centering();
    justify-content: left;
    gap: 10px;
  }

  .footer__section--copyright {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .footer__socials {
    margin: 40px 0 0 10px;
  }
}
