@use "./../global/variables" as v;
@use "./../global/mixins" as m;

.map {
  height: 420px;
}

// Подкладываем под карту фото и фон
.map__wrapper {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  background-image: url("../../img/map_bg/map_bg_desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d3d3d3;
  background-position: center;
}


// Tablet and Desktop styles

@media (min-width: v.$tablet-width) {
  .map {
    height: 480px;
  }
}

// Desktop only styles

@media (min-width: v.$desktop-width) {
  .map {
    height: 540px;
  }
}
