/* здесь используйте глобальные переменные */

// Fonts

$font: "Montserrat", arial, sans-serif;

// Viewports

$mobile-width: 320px;
$tablet-width: 650px;
$desktop-width: 1100px;

// Colors

// Base
$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

// Alt
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

// Background
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

// Header height for mobile

$header-height-mobile: 60px;
$header-height-tablet: 80px;
